.footer-icon {
  position: relative;
  top: var(--spacing-1);
  width: 1.4em;
  height: 1.4em;
  padding-left: var(--spacing-2);
}
.footerr {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: var(--justify-content);
  height: 50px;
}
.footer-left {
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  padding: var(--spacing-3);
}
.footer-right {
  padding: var(--spacing-3);
}
footer.dark .footer-right a {
  color: var(--primary-color);
}
footer.light .footer-right a {
  color: var(--secondary-color);
}
.footerr.dark {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.footerr.light {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
footer.dark {
  border-top: 1px solid var(--primary-color);
}
footer.light {
  border-top: 1px solid var(--secondary-color);
}
