nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
nav li {
  display: flex;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
}
li a {
  text-decoration: none;
  color: #0c0c0c;
}

header.light {
  border-bottom: 1px solid #0c0c0c;
}
header.dark {
  border-bottom: 1px solid #f1f1f1;
}
nav ul.dark {
  background-color: #000;
  color: #fff;
}
nav ul.light {
  background-color: #f1f1f1;
  color: #000;
}
