nav ul {
  display: flex;
  list-style: var(--text-decoration-1);
  align-items: var(--justify-content);
  padding: 0px;
  margin: 0px;
}
nav li {
  display: flex;
  text-transform: uppercase;
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
}
li a {
  text-decoration: var(--text-decoration-1);
  color: var(--secondary-color);
}

header.light {
  border-bottom: 1px solid var(--secondary-color);
}
header.dark {
  border-bottom: 1px solid var(--primary-color);
}
nav ul.dark {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
nav ul.light {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
