.vn {
  font-size: var(--primary-font-size);
  font-weight: var(--secondery-font-weight);
  place-content: var(--justify-content);
  aspect-ratio: 1;
  display: grid;
  height: 50px;
}
body.light .vn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
body.dark .vn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.2);
}
body.dark .awt {
  padding-left: var(--spacing-4);
  color: var(--primary-color);
}
body.light .awt {
  padding-left: var(--spacing-4);
  color: var(--secondary-color);
}
.mode {
  margin-left: auto;
}
.theme-toggle {
  position: relative;
  left: -4px;
  margin-right: 0.2em;
  cursor: pointer;
  font-size: var(--primary-font-size);
}
.toggle-icon {
  transition: color 0.3s ease;
}
body.dark .toggle-icon {
  color: var(--primary-color);
}

body.light .toggle-icon {
  color: var(--secondary-color);
}
