.page-heading-container {
  display: flex;
  flex-direction: column;
  align-items: var(--justify-content);
  padding: var(--secondary-font-size);
}

.page-heading-title {
  padding: 2rem;
  font-size: 6rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: var(--justify-content);
}

.page-heading-divider {
  border-top: 1px solid;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .page-heading-title {
    font-size: 3.6rem;
  }
}

@media (max-width: 480px) {
  .page-heading-title {
    font-size: 2.5rem;
  }
  svg {
    font-size: var(--secondary-font-size);
  }
  .footer-right {
    display: flex;
    padding: var(--spacing-3);
    align-items: var(--justify-content);
    flex-direction: column;
  }
  .footer-icon {
    padding-left: 0px;
  }
}
