body.dark .resume-section a {
  color: var(--primary-color);
}
body.light .resume-section a {
  color: var(--secondary-color);
}
.thoughts p {
  font-size: var(--primary-font-size);
}
.thoughts h2 {
  font-size: var(--tertiary-font-size);
  font-weight: var(--primary-font-weight);
}
.thoughts h3 {
  font-size: var(--secondary-font-size);
  font-weight: var(--primary-font-weight);
}
.card {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
}
.card img {
  width: 320px;
  height: 200px;
}
body.dark .Design-section a {
  color: var(--primary-color);
}
body.light .Design-section a {
  color: var(--secondary-color);
}
.thoughts {
  margin: var(--spacing-3);
  padding: var(--spacing-2);
}

/* When the screen is 768px or larger (Tablet & Desktop) */
@media (min-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
  }
  .thoughts p {
    font-size: var(--secondary-font-size);
  }
  .thoughts h2 {
    font-size: 2rem;
    font-weight: var(--primary-font-weight);
  }
  .thoughts h3 {
    font-size: 1.5rem;
    font-weight: var(--primary-font-weight);
  }
  .card img {
    width: 384px;
    height: 300px;
  }
}

/* When the screen is 1024px or larger (Laptops & Desktops) */
@media (min-width: 1024px) {
  .card {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
  }
  .thoughts p {
    font-size: var(-tertiary-font-size);
  }
  .thoughts h2 {
    font-size: 2rem;
    font-weight: var(--primary-font-weight);
  }
  .thoughts h3 {
    font-size: 1.5rem;
    font-weight: var(--primary-font-weight);
  }
  .card img {
    width: 699px;
    height: 500px;
  }
}
