.project {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-2);
  border-radius: var(--border-radius);
}
body.dark .project {
  border: 1px solid var(--primary-color);
}
body.light .project {
  border: 1px solid var(--secondary-color);
}
.project p {
  display: flex;
  justify-content: var(--justify-content);
}
body.light .project p {
  color: var(--secondary-color);
}
body.dark .project p {
  color: var(--primary-color);
}
.works {
  display: flex;
  align-items: var(--justify-content);
  justify-content: var(--justify-content);
  gap: var(--spacing-2);
  margin: var(--spacing-3);
}
.work-image {
  max-width: 100%;
  width: 300px;
  height: 350px;
}
.project a {
  color: var(--primary-color);
  text-decoration: var(--text-decoration-1);
}
.project img {
  border-radius: var(--border-radius);
}
@media (max-width: 480px) {
  .works {
    display: grid;
    grid-template-columns: auto;
    align-items: var(--justify-content);
    justify-content: center;
    gap: var(--spacing-2);
    margin: var(--spacing-3);
  }
}
