.project {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-2);
  border-radius: var(--border-radius);
}
body.dark .project {
  border: 1px solid var(--primary-color);
}
body.light .project {
  border: 1px solid var(--secondary-color);
}
.project p {
  display: flex;
  justify-content: var(--justify-content);
}
body.light .project p {
  color: var(--secondary-color);
}
body.dark .project p {
  color: var(--primary-color);
}
.works {
  display: flex;
  align-items: var(--justify-content);
  justify-content: var(--justify-content);
  gap: var(--spacing-2);
  margin: var(--spacing-3);
  height: 75vh;
}
.work-image {
  max-width: 100%;
  width: 300px;
  height: 350px;
}
.project a {
  color: var(--primary-color);
  text-decoration: var(--text-decoration-1);
}
.project img {
  border-radius: var(--border-radius);
}
.work-main {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.work-wrapper {
  position: relative;
  z-index: 0; /* So stars go behind this content */
}

canvas {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: -1 !important;
}
.hide-heading {
  display: none;
}
@media (max-width: 480px) {
  .works {
    display: grid;
    grid-template-columns: auto;
    align-items: var(--justify-content);
    justify-content: center;
    gap: var(--spacing-2);
    margin: var(--spacing-3);
  }
}
@media (max-width: 768px) {
  .project {
    height: 70px;
  }
}
