main {
  min-height: 80vh;
}

body {
  background-color: #f7f7f7;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #000;
  color: #f7f7f7;
}
.navbar.light {
  background-color: #f7f7f7;
  color: #000;
}

.footer.light {
  background-color: #f7f7f7;
  color: #000;
}
.navbar.dark {
  background-color: #000;
  color: #f7f7f7;
}

.footer.dark {
  background-color: #000;
  color: #f7f7f7;
}
svg {
  font-size: 1.2rem;
}
