main {
  min-height: 80vh;
}

:root {
  --primary-color: #f7f7f7;
  --secondary-color: #0c0c0c;

  --border-radius: 10px;

  --primary-font-size: 0.8rem;
  --secondary-font-size: 1rem;
  --tertiary-font-size: 1.2rem;

  --spacing-1: 5px;
  --spacing-2: 10px;
  --spacing-3: 20px;
  --spacing-4: 15px;

  --primary-font-weight: 500;
  --secondery-font-weight: 800;

  --justify-content: center;
  --text-decoration-1: none;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.navbar.dark,
.footer.dark {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

main {
  min-height: 80vh;
}

svg {
  font-size: var(--tertiary-font-size);
}
